{% load static %}

<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-5 pb-3">
                YOUR LOGO HERE
            </div>

            <div class="col-12 col-md-8 col-lg-7 row mx-0 px-0">
                <div class="col-12 col-sm-6 col-md-4 pb-3">
                    <a href="#" class="d-block py-1 text-md-right text-decoration-none">One</a>
                    <a href="#" class="d-block py-1 text-md-right text-decoration-none">Two</a>
                    <a href="#" class="d-block py-1 text-md-right text-decoration-none">Three</a>
                    <a href="#" class="d-block py-1 text-md-right text-decoration-none">Four</a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 pb-3">
                    <a href="#" class="d-block py-1 text-md-right text-decoration-none">Five</a>
                    <a href="#" class="d-block py-1 text-md-right text-decoration-none">Six</a>
                    <a href="#" class="d-block py-1 text-md-right text-decoration-none">Seven</a>
                    <a href="#" class="d-block py-1 text-md-right text-decoration-none">Eight</a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 pb-3">
                    <a href="#" class="d-block py-1 text-md-right text-decoration-none">Nine</a>
                    <a href="#" class="d-block py-1 text-md-right text-decoration-none">Ten</a>
                    <a href="#" class="d-block py-1 text-md-right text-decoration-none">Eleven</a>
                    <a href="#" class="d-block py-1 text-md-right text-decoration-none">Twelve</a>
                </div>
            </div>
        </div>
        <div class="border-top pt-4 mt-1 row">
            <div class="col-12 col-sm-6 text-muted" style="font-size: 12px;">Copyright &copy; 2020</div>
            <div class="col-12 col-sm-6 text-sm-right">
                <a href="https://www.facebook.com/saleboxio/" target="_blank"><img src="{% static 'fontawesome/facebook-f.svg' %}" style="height: 15px; padding-right: 10px; opacity: 0.5;"></a>
                <a href="https://m.me/saleboxio/" target="_blank"><img src="{% static 'fontawesome/facebook-messenger.svg' %}" style="height: 15px; padding-right: 10px; opacity: 0.5;"></a>
                <a href="https://www.instagram.com/saleboxio/" target="_blank"><img src="{% static 'fontawesome/instagram.svg' %}" style="height: 15px; padding-right: 10px; opacity: 0.5;"></a>
                <a href="https://www.twitter.com/saleboxio/" target="_blank"><img src="{% static 'fontawesome/twitter.svg' %}" style="height: 15px; opacity: 0.5;"></a>
            </div>
        </div>
    </div>
</footer>