{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="cf">
    Categories:

    <div class="mb-5">
        {% for t in categories.tree %}
            <a href="/shop/{{ t.slug_path }}/" class="pb-2">{{ t.name }}</a>
            {% if not forloop.last %}
                <span class="text-muted px-2 pb-2">/</span>
            {% endif %}
        {% endfor %}
    </div>

    {% include "salebox/product/product_list.html" %}

    {% comment %}
    {% include "salebox/product/product_list_meta.html" %}
    {% include "salebox/utils/pagination.html" %}
    {% endcomment %}
</div>
{% endblock content %}
