.product-list {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: auto;
    margin: 0 auto;
    max-width: 240px;

    @media (min-width: 300px) {
        grid-template-columns: auto auto;
        max-width: 400px;
    }
    @include media-breakpoint-up(sm) { grid-template-columns: auto auto auto; max-width: none; }
    @include media-breakpoint-up(md) { grid-template-columns: auto auto auto auto; }
    @include media-breakpoint-up(lg) { grid-template-columns: auto auto auto auto auto; }
    @include media-breakpoint-up(xl) { grid-template-columns: auto auto auto auto auto auto; }
}

.product-list-single {
    .product-image {
        background-image: url('../img/image-unavailable.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .product-image:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}